body {
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
}

.modal {
    width: 400px;
    height: 250px;
    border: 2px solid black;
    padding: 30px;
    position: relative;
}

.button {
    display: flex;
    justify-content: space-around;
    height: 40px;
    width: 25px;
    border: none;
    align-items: center;
}

.botoes {
    display: flex;
    justify-content: space-between;
}

.Fechar > button {
    position: absolute;
    background-color: white;
    cursor: pointer;
    fill: black;
    border-radius: 20px;
    top: -10px;
    right: -10px;
}

.Fechar > button > svg {
    height: 20px;
}